@import "gruvbox-material.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Ubuntu Nerd Font, FontAwesome, Arial, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-weight: normal;
}

window#waybar {
    background-color: @bg;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#window {
    opacity: 0.7;
    background-color: @bg;
    font-weight: bold;
    font-family: Ubuntu Nerd Font;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px @fg;
    border-radius: 0;
    /*margin: 5px 5px;*/
}

#workspaces {
    background-color: @module-bg;
    border-radius: 0px 8px 8px 0px;
    margin: 0 6px;
}

#workspaces button {
    background-color: transparent;
    color: @fg;
    padding: 0 12px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.5);
    /*box-shadow: inherit;
    text-shadow: inherit; */
}

#workspaces button.focused {
    background-color: @fg;
    color: @bg;
    /* box-shadow: inset 0 -3px #282828; */
    border-radius: 3px;
    padding: 0 5px;
    margin: 2px 5px;
}

#workspaces button.unfocused {
    color: @fg;
}

#workspaces button.urgent {
    background-color: @reg-red;
}

#mode {
    background-color: @reg-cyan;
    color: @bg;
    border-radius: 3px;
    padding: 0 8px;
    margin: 2px 5px;
    /*border-bottom: 3px solid #ffffff;*/
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @fg;
    font-weight: bold;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 3px 5px;
    min-width: 16px;
}

#disk {
    background-color: @module-bg;
    color: @reg-blue;
    padding: 0 8px;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @module-bg;
    color: @reg-green;
    padding: 0 8px;
}

#network.disconnected {
    background-color: @reg-red;
    color: @module-bg;
}

#pulseaudio {
    background-color: @module-bg;
    color: @reg-red;
    padding: 0 8px;
    border-radius: 8px 0px 0px 8px;
}

#pulseaudio.muted {
    background-color: @reg-red;
    color: @module-bg;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background-color: @module-bg;
    color: @reg-yellow;
    padding: 0 8px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 3px 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.5);
    color: @fg;
    padding: 0 5px;
    margin: 3px 5px;
}

#user {
    background-color: @module-bg;
    color: @reg-megenta;
    padding: 0 8px;
}

#scratchpad.empty {
	background-color: transparent;
}
